
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>

<html lang="en">
<head>
<title>Coffee Filter</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Coffee Filter" />
<script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta charset utf="8">
<!--font-awsome-css-->
     <link rel="stylesheet" href="static/css/font-awesome.min.css">
<!--bootstrap-->
	<link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--custom css-->
	<link href="static/css/style.css" rel="stylesheet" type="text/css"/>
<!--component-css-->
   <script src="static/js/jquery-2.1.4.min.js"></script>
<!--script-->
	<script src="static/js/modernizr.custom.js"></script>
    <script src="static/js/bigSlide.js"></script>
           <script>
				$(document).ready(function() {
				$('.menu-link').bigSlide();
				});
     </script>
<!-- web-fonts -->
  <link href='//fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //web-fonts -->
    </head>
<body>
<div class="body-back">
	<div class="masthead pdng-stn1">
		<div id="menu" class="panel" role="navigation">
			<div class="wrap-content">
				<div class="profile-menu text-center">
					<img class="border-effect" src="static/images/coffee_logo_drip.png" alt=" ">
						<h3>MENU</h3>
						<div class="pro-menu">
							<div class="logo">
								<li><a class=" link link--yaku" href="/"><span>H</span><span>o</span><span>m</span><span>e</span></a></li>
								<li><a class=" link link--yaku" href="/about"><span>A</span><span>b</span><span>o</span><span>u</span><span>t</span></a></li>
                <li><a class=" link link--yaku active" href="/tech"><span>T</span><span>e</span><span>c</span><span>h</span><span></span><span>S</span><span>t</span><span>a</span><span>c</span><span>k</span></a></li>
							</div>
						</div>
				</div>
			</div>
		</div>
		<div class="phone-box wrap push" id="home">
			<div class="menu-notify" id="stuck_header">
				<div class="profile-left">
					<a href="#menu" class="menu-link"><i class="fa fa-list-ul"></i></a>
				</div>
				<div class="Profile-mid">
					<h5 class="pro-link"><a href="main.html">Coffee Filter</a></h5>
				</div>
				<div class="Profile-right">
					<div id="small-dialog1" class="mfp-hide">
						<div class="login-modal">
							<div class="booking-info">
							   <h3><a href="/">T<span>r</span>a<span>v</span>e<span>l</span> <span>H</span>u<span>n</span>t</a></h3>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
<!-- banner -->
   <div class="details-grid bus">
				<div class="details-shade ">
						<div class="details-right">
							<img src="static/images/coffee_logo_drip.png" alt=" ">
							<h3>Tech Stack</h3>
							<h4>only the best</h4>
              <br>
						</div>
				</div>
			</div>
            <div class="w3agile about">
			       <h3 class="w3ls-title">Built Using</h3>
				   <div class="col-md-7 abt-left">
            <a><img class="img-responsive" src="static/images/python_logo.png" alt="" /></a>
            <a><img class="img-responsive" src="static/images/scikit_logo.png" alt="" /></a>
            <br>
            <a><img class="img-responsive" src="static/images/aws_logo.png" alt="" /></a>
            <br>
            <a><img class="img-responsive" src="static/images/flask_logo.png" alt="" /></a>
            <br>
            <a><img class="img-responsive" src="static/images/nltk_logo.jpg" alt="" /></a>
            <br>
            <a><img class="img-responsive" src="static/images/javascript_logo.png" alt="" /></a>
            <br>
            <a><img class="img-responsive" src="static/images/jupyter_logo.png" alt="" /></a>
					<div class="clearfix"></div>
				</div>
		<div class="clearfix"></div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="w3agile agileinfo_copy_right">
			<div class="agileinfo_copy_right_left">
				<p>© 2018 Charles Redding. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
			<div class="clearfix"> </div>
	</div>
	<!--/footer-->
	</div>
</div>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery.nicescroll.js"></script>
<script src="static/js/scripts.js"></script>
<script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the header
var header = document.getElementById("stuck_header");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
</body>
</html>
